/* Estilos generales del contenedoR */
.contenedorFiltro {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 350px;
  margin: auto;
  text-align: center;
}

/* Estilo del título */
.titulo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: black;
}

/* Estilos para los inputs */
.inputFiltro {
  width: 100%;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 1rem;
}

/* Botón de búsqueda */
.btnFiltro {
  background-color: #1664eb;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}
/*
.btnFiltro:hover {
  background-color: #1664eb;
}*/
